<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Format Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1>Image File Format Converter</h1>
        <h3>2 easy steps!</h3>
    </header>

    <section>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <article>
                <h4>1. Choose your image:</h4>
                <input type="file" name="file" accept=".heic">
            </article>
            <article>
                <h4>2. Click to convert:</h4>
                <button type="submit" id="convertBtn">Convert to JPG</button>
            </article>
        </form>

        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
    </section>
</body>

</html>